@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
}
@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled){
        cursor: pointer;
    }
}

@layer base {
  .str-video__menu-item {
    @apply text-white;
  }
}